h1, h2, h3, h4, p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

body {
  background-color: black;
}

#heading {
  text-align: center;
  font-size: 45px;
}

#construction {
  text-align: center;
  font-size: 25px;
}
