h1, h2, h3, h4, p {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

body {
  background-color: #000000;
}

#heading {
  text-align: left;
  font-size: 44px;
  margin-left: 100px;
}

#aboutMe {
  text-align: left;
  font-size: 20px;
  width: 1000px;
  margin-left: 100px;
}

.link {
  color: white;
}